@import "../../../styles/mixins";

.BlocksViewWrapper {
  @include box();
  @include make-flex($just: flex-start, $align: flex-start);
  @include respondAt(1290px) {
    height: unset;
  }

  padding-bottom: 20px;

  &__container {
    @include box();
    @include make-flex($just: flex-start);
    padding: 20px 40px;
    gap: 20px;
    // background-color: aliceblue;
    overflow: auto;
  }
}
