@import "../../../styles/mixins";

.BlockDetailsWrapper {
  &__container {
    @include box();
    @include make-flex($just: flex-start, $align: flex-start);
    padding: 20px 40px;
    gap: 20px;
    overflow-y: auto;
    // background-color: aliceblue;

    &--title {
      font-family: "Martel Sans", sans-serif;
      font-weight: 300;
      font-size: 25px;
      @include box($height: auto);
    }

    &--content {
      @include box($height: unset);
      @include make-flex($just: flex-start, $align: flex-start, $dir: row);
      gap: 20px;
      flex-wrap: wrap;
    }
  }
}
