@import "./styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url('https://fonts.googleapis.com/css?family=Nunito:400');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
html,
body {
  @include box();
}

.MainWrapper {
  @include box();
  @include make-flex($just: flex-start, $align: flex-start);
  @include respondAt(1290px) {
    height: unset;
  }

  padding-bottom: 20px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
